.main-div {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}
.main-div .alpha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10pc;
    margin-bottom: 10pc;
}
.main-div .heading-line {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0px;
    padding-top: 15px;
    background: #1F2937;
    gap: 35pc;
}
.main-div .header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    font-family: sans-serif;
}
.main-div .link {
    margin-left: auto;
    color: #E5E7EB;
    font-size: 18px;
    font-family: sans-serif;
    align-self: center;
}
.main-div .link a {
    margin-left: 12px;
}
.main-div .information {
    width: 69pc;
    display: flex;
    flex-direction: row;
}
.main-div .bold-text, .awesome {
    font-family: sans-serif;
    color:#F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    align-self: flex-end;
}
.main-div .paragraph {
    font-family: sans-serif;
    width:470px;
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.main-div .sign-button {
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 5px;
    margin: 4px;
    padding: 8px 35px;
    font-weight: bold;
    text-align: center;

}
.main-div .image-placeholder {
    background: rgba(229, 231, 235, 0.5);
    color: white;
    font-family: sans-serif;
    margin-left: 250px;
    padding-top: 90px;
    width: 400px;
    text-align: center;

}
.main-div .beta {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.main-div .beta .beta-header {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: roboto, sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}
.main-div .beta-placeholder {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 18px;
    justify-content: center;
}
.main-div .beta-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.main-div .image-text {
    font-family: sans-serif;
    color: rgb(63, 62, 62);
    width: 150px;
}